

body {
    background-color: #111111;
    font-family: Verdana;
}

body table {
    border-collapse:separate;
    border-spacing: 20px 10px;
    margin-top: 5px;
    margin-left: 25px;
    color: #33CC33;
    font-weight: bold;
}

#openBg {
    margin-left: 11px;
    width: 490px;
    height: 220px;
    background: url("dava.png") no-repeat;
    border: 1px solid #111111;
}

.times {
    width: 100px;
    text-align: right;
}

.board {
    margin-top: 30px;
    text-align: center;
    /* border: 1px solid rgba(255,180,0,0.4); */
    /* border-radius: 4px; */
    width: 438px;
    /* margin: 50px auto 0 auto; */
    padding: 20px;
    /* background-color: #000; */
}

.board p {
    font-size: 55px;
    font-family: 'Monoton', cursive;
    color: #fff;
    text-transform: uppercase;
}

@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: local('Monoton'), local('Monoton-Regular'), url(AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
}
